SECRET_KEY=fkfsvgrockgfkvkgfk
OPENAI_API_KEY=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

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=bkeyh382@gmail.com
SMTP_PASSWORD=pcziuoxezvtozjkt
SMTP_FROM=bkeyh382@gmail.com

GOOGLE_CLIENT_ID=333737150095-hndinb3nv3h8o368gcrde3s69ond2l35.apps.googleusercontent.com
